<div class="col-md-12 d-flex flex-column justify-content-center align-items-center pt-3">
  <div class="alert alert-warning col-md-11" role="alert">
    <h4 class="alert-heading">Atenção</h4>
    O conteúdo mostrado aqui serve apenas para visualização.
  </div>
  
  <div class="col-md-11 d-flex flex-row justify-content-between align-items-start p-0 mb-4">
    <div class="col-md-6 card mr-2 ml-n1 p-0">
      <div class="alert alert-primary border-0 border-bottom rounded-0 h5" role="alert">
        😀 Geral
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
          <label *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="text-muted">Nome</label>
          <label *ngIf="data?.consumidor?.cpfcnpj.length > 11" class="text-muted">Razão social</label>
          <p class="ml-1 h6">{{data?.consumidor?.nome}}</p>
      </div>
      
      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="text-muted">Alcunha</label>
        <label *ngIf="data?.consumidor?.cpfcnpj.length > 11" class="text-muted">Nome fantasia</label>
          <p class="ml-1 h6">{{data?.consumidor?.nomefantasia}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="text-muted">CPF</label>
        <label *ngIf="data?.consumidor?.cpfcnpj.length > 11" class="text-muted">CNPJ</label>
          <p class="ml-1 h6">{{data?.consumidor?.cpfcnpj}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="text-muted">RG</label>
        <label *ngIf="data?.consumidor?.cpfcnpj.length > 11" class="text-muted">IE</label>
          <p class="ml-1 h6">{{data?.consumidor?.rg}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="text-muted">Data nascimento</label>
        <label *ngIf="data?.consumidor?.cpfcnpj.length > 11" class="text-muted">Data fundação</label>
          <p class="ml-1 h6">{{data?.consumidor?.datanascimento | date}}</p>
      </div>

      <div *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Sexo</label>
          <p class="ml-1 h6">{{data?.consumidor?.sexo}}</p>
      </div>

      <div *ngIf="data?.consumidor?.cpfcnpj.length == 11" class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Nome da mãe</label>
          <p class="ml-1 h6">{{data?.consumidor?.nomemae}}</p>
      </div>

      <div class="alert alert-primary border-0 border-bottom rounded-0 h5" role="alert">
        🗺️ Endereço
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">CEP</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.cep}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Logradouro</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.logradouro}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Número</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.numero}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Complemento</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.complemento}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Bairro</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.bairro}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">Cidade</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.cidade}}</p>
      </div>

      <div class="form-group border-bottom pb-1 mb-0 pl-2">  
        <label class="text-muted">UF</label>
          <p class="ml-1 h6">{{data?.consumidor?.consumidorendereco?.uf}}</p>
      </div>

    </div>
    <div class="col-md-6 p-0">
      <div class="col-md-12 card p-0 mb-2">        
        <div class="alert alert-primary border-0 border-bottom rounded-0 h5" role="alert">
          📞 Contatos ({{data?.consumidor?.consumidorcontato.length}})
        </div>
        <div class="col-md-12 p-0 d-flex flex-column align-items-start justify-content-center">
          <div *ngFor="let contato of data?.consumidor?.consumidorcontato" class="border-bottom col-md-12 border-bottom p-1 pl-2 d-flex justify-content-between">
            <p>☎️ {{contato.dddfixo}} {{contato.numerofixo}}</p>
            <p *ngIf="contato.dddcelular !== '0' && contato.numerocelular !== '0'">📱 {{contato.dddcelular}} {{contato.numerocelular}}</p>
          </div>
          <div *ngIf="data?.consumidor?.consumidorcontato.length == 0 || !data?.consumidor?.consumidorcontato" class="col-md-12 d-flex col-md-12 d-flex justify-content-center pb-4 pt-4">
            <p>Nenhum contato encontrado! 😥</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 card p-0 mb-2">        
        <div class="alert alert-primary border-0 border-bottom rounded-0 h5" role="alert">
          📝 Registros SPC ({{data?.registrosspc?.length}}) 
          <p class="m-0 float-right">{{data?.totalregistrosspc | currency: "BRL"}}</p>
        </div>
        <div class="col-md-12 p-0 d-flex flex-column align-items-start justify-content-center">
          <div *ngFor="let registro of data?.registrosspc" class="border-bottom col-md-12 border-bottom p-1 pl-2">
            <span class="d-flex">
              <p class="text-muted">Associado:&nbsp;</p>
              <p *ngIf="registro.associado?.razaosocial" class="font-weight-bold text-dark"> {{registro.associado?.razaosocial}}</p>
              <p *ngIf="registro.associado?.nomefantasia" class="font-weight-bold text-dark"> {{registro.associado?.nomefantasia}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Data publicação:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.datapublicacao | date}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Data vencimento:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.datavencimento | date}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Valor:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.valor | currency: "BRL"}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Origem:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.origemregistro}}</p>
            </span>

          </div>
        </div>
        <div *ngIf="data?.registrosspc?.length == 0 || !data?.registrosspc" class="col-md-12 d-flex col-md-12 d-flex justify-content-center pb-4 pt-4">
          <p>Nenhum registro encontrado! 🎉</p>
        </div>
      </div>


      <div class="col-md-12 card p-0 mb-2">        
        <div class="alert alert-primary border-0 border-bottom rounded-0 h5" role="alert">
          🧾 Registros cheques ({{data?.registroscheque?.length}}) 
          <p *ngIf="data?.registroscheque?.length == 0 || !data?.registroscheque" class="m-0 float-right">{{data?.totalregistroscheque | currency: "BRL"}}</p>
        </div>
        <div class="col-md-12 p-0 d-flex flex-column align-items-start justify-content-center">
          <div *ngFor="let registro of data?.registroscheque" class="border-bottom col-md-12 border-bottom p-1 pl-2">
            <span class="d-flex">
              <p class="text-muted">Associado:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.associado?.razaosocial}} de {{registro.associado?.municipio}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Data emissão:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.dataemissao | date}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Valor:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.valorregistro | currency: "BRL"}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Motivo:&nbsp;</p>
              <p class="font-weight-bold text-dark"> 
                {{registro.motivoregistro}}
                <span *ngIf="registro.motivoregistro == '11'">(Insuficiência de fundos – 1ª apresentação)</span>
                <span *ngIf="registro.motivoregistro == '12'">(Insuficiência de fundos – 2ª apresentação)</span>
                <span *ngIf="registro.motivoregistro == '13'">(Conta encerrada)</span>
              </p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Banco:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.banco}}</p>
            </span>
            <span class="d-flex">
              <p class="text-muted">Agência / Conta:&nbsp;</p>
              <p class="font-weight-bold text-dark"> {{registro.agencia}} / {{registro.conta}}</p>
            </span>

          </div>
          <div *ngIf="data?.registroscheque?.length == 0 || !data?.registroscheque" class="col-md-12 d-flex col-md-12 d-flex justify-content-center pb-4 pt-4">
            <p>Nenhum registro encontrado! 🎉</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>