<div class="outer w-100 d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <img src="assets/asplogo.png" alt="ASP Softwares" />
  </div>
  <div class="d-flex flex-row justify-content-evenly col-6 mt-5">
    <div (click)="goToLink('https://atplus.webasp.com.br')" tabindex="0" class="card d-flex flex-column justify-content-center align-items-center col-3 m-2">
      <p>ATplus</p>
    </div>
    
    <div (click)="goToLink('https://cerejinha.webasp.com.br')" tabindex="0" class="card d-flex flex-column justify-content-center align-items-center col-3 m-2">
      <p>Cerejinha</p>
    </div>
    
    <div (click)="goToLink('https://harmonique.webasp.com.br')" tabindex="0" class="card d-flex flex-column justify-content-center align-items-center col-3 m-2">
      <p>Harmonique</p>
    </div>
    
    <div (click)="goToLink('https://varejo.webasp.com.br')" tabindex="0" class="card d-flex flex-column justify-content-center align-items-center col-3 m-2">
      <p>Varejo</p>
    </div>
  </div>
</div>