@import '../../../styles'

.outer
    height: 100vh
    .card
        height: 20vh
        border: 2px solid #e6e6e6
        color: #484848
        font-size: 1.1rem
        font-weight: 500
        cursor: pointer
        outline: none
        transition: all .3s cubic-bezier(0.71, 0, 0.32, 0.96)
        &:hover, &:focus
            height: 20vh
            border: 2px solid #d12f34
            color: #d12f34
            font-size: 1.1rem
            font-weight: 500
            cursor: pointer
            box-shadow: 0px 9px 20px -10px #d12f348c
            transform: translateY(-.5rem)
            transition: all .3s cubic-bezier(0.71, 0, 0.32, 0.96)